@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b82f6;
}

body {
  font-feature-settings: "ss02", "ss03";
}

/* Custom scrollbar for results */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
